In [36]:
import pandas as pd 

data = pd.read_csv('Data/full_rnn_data_2.csv')
data.drop('Unnamed: 0', axis = 1, inplace= True)
data.drop('state', axis = 1, inplace= True)
data

C:\Users\domen\AppData\Local\Temp\ipykernel_18064\1768217909.py:3: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('Data/full_rnn_data_2.csv')

,date,lastTradeDate,strike,price,bid,ask,change,percentChange,volume,openInterest,...,returnOnAssets,returnOnEquity,freeCashflow,operatingCashflow,revenueGrowth,grossMargins,ebitdaMargins,operatingMargins,tau,tau2
0,2024-07-25,2024-07-23,70.0,0.18,137.05,137.12,0.0,0.0,1717668.0,2.0,...,0.07818,0.20709,924249984.0,1.896000e+09,-0.084,0.50630,0.24458,0.23713,0.071429,0.065753
1,2024-07-26,2024-07-23,70.0,0.18,137.05,137.12,0.0,0.0,1717668.0,2.0,...,0.07818,0.20709,924249984.0,1.896000e+09,-0.084,0.50630,0.24458,0.23713,0.071429,0.065753
2,2024-07-23,2024-05-02,85.0,0.10,137.05,137.12,0.0,0.0,1717668.0,16.0,...,0.07818,0.20709,924249984.0,1.896000e+09,-0.084,0.50630,0.24458,0.23713,0.301587,0.290411
3,2024-07-24,2024-05-02,85.0,0.10,137.05,137.12,0.0,0.0,1717668.0,16.0,...,0.07818,0.20709,924249984.0,1.896000e+09,-0.084,0.50630,0.24458,0.23713,0.301587,0.290411
4,2024-07-25,2024-05-02,85.0,0.10,137.05,137.12,0.0,0.0,1717668.0,16.0,...,0.07818,0.20709,924249984.0,1.896000e+09,-0.084,0.50630,0.24458,0.23713,0.301587,0.290411
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
278725,2024-07-26,2024-05-15,17.5,0.35,8.90,8.96,0.0,0.0,1034596.0,109.0,...,0.04797,0.12696,19597876.0,1.828300e+07,0.110,0.79998,0.07865,0.04462,0.265873,0.254795
278726,2024-07-23,2024-03-06,20.0,0.50,8.90,8.96,0.0,0.0,1034596.0,2.0,...,0.04797,0.12696,19597876.0,1.828300e+07,0.110,0.79998,0.07865,0.04462,0.464286,0.446575
278727,2024-07-24,2024-03-06,20.0,0.50,8.90,8.96,0.0,0.0,1034596.0,2.0,...,0.04797,0.12696,19597876.0,1.828300e+07,0.110,0.79998,0.07865,0.04462,0.464286,0.446575
278728,2024-07-25,2024-03-06,20.0,0.50,8.90,8.96,0.0,0.0,1034596.0,2.0,...,0.04797,0.12696,19597876.0,1.828300e+07,0.110,0.79998,0.07865,0.04462,0.464286,0.446575
278729,2024-07-26,2024-03-06,20.0,0.50,8.90,8.96,0.0,0.0,1034596.0,2.0,...,0.04797,0.12696,19597876.0,1.828300e+07,0.110,0.79998,0.07865,0.04462,0.464286,0.446575

In [37]:
data = data[data.stock > 0]
data

,date,lastTradeDate,strike,price,bid,ask,change,percentChange,volume,openInterest,...,returnOnAssets,returnOnEquity,freeCashflow,operatingCashflow,revenueGrowth,grossMargins,ebitdaMargins,operatingMargins,tau,tau2
0,2024-07-25,2024-07-23,70.0,0.18,137.05,137.12,0.0,0.0,1717668.0,2.0,...,0.07818,0.20709,924249984.0,1.896000e+09,-0.084,0.50630,0.24458,0.23713,0.071429,0.065753
1,2024-07-26,2024-07-23,70.0,0.18,137.05,137.12,0.0,0.0,1717668.0,2.0,...,0.07818,0.20709,924249984.0,1.896000e+09,-0.084,0.50630,0.24458,0.23713,0.071429,0.065753
2,2024-07-23,2024-05-02,85.0,0.10,137.05,137.12,0.0,0.0,1717668.0,16.0,...,0.07818,0.20709,924249984.0,1.896000e+09,-0.084,0.50630,0.24458,0.23713,0.301587,0.290411
3,2024-07-24,2024-05-02,85.0,0.10,137.05,137.12,0.0,0.0,1717668.0,16.0,...,0.07818,0.20709,924249984.0,1.896000e+09,-0.084,0.50630,0.24458,0.23713,0.301587,0.290411
4,2024-07-25,2024-05-02,85.0,0.10,137.05,137.12,0.0,0.0,1717668.0,16.0,...,0.07818,0.20709,924249984.0,1.896000e+09,-0.084,0.50630,0.24458,0.23713,0.301587,0.290411
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
278725,2024-07-26,2024-05-15,17.5,0.35,8.90,8.96,0.0,0.0,1034596.0,109.0,...,0.04797,0.12696,19597876.0,1.828300e+07,0.110,0.79998,0.07865,0.04462,0.265873,0.254795
278726,2024-07-23,2024-03-06,20.0,0.50,8.90,8.96,0.0,0.0,1034596.0,2.0,...,0.04797,0.12696,19597876.0,1.828300e+07,0.110,0.79998,0.07865,0.04462,0.464286,0.446575
278727,2024-07-24,2024-03-06,20.0,0.50,8.90,8.96,0.0,0.0,1034596.0,2.0,...,0.04797,0.12696,19597876.0,1.828300e+07,0.110,0.79998,0.07865,0.04462,0.464286,0.446575
278728,2024-07-25,2024-03-06,20.0,0.50,8.90,8.96,0.0,0.0,1034596.0,2.0,...,0.04797,0.12696,19597876.0,1.828300e+07,0.110,0.79998,0.07865,0.04462,0.464286,0.446575
278729,2024-07-26,2024-03-06,20.0,0.50,8.90,8.96,0.0,0.0,1034596.0,2.0,...,0.04797,0.12696,19597876.0,1.828300e+07,0.110,0.79998,0.07865,0.04462,0.464286,0.446575

In [38]:
missing_percentage = (data.isnull().sum() / len(data)) * 100

# Filtra solo le colonne con valori mancanti
columns_to_drop = missing_percentage[missing_percentage > 0]
columns_to_drop

percentChange         0.137058
volume                0.001076
openInterest          0.125936
fullTimeEmployees     3.721019
previousClose         0.038749
                       ...
operatingCashflow     7.373508
revenueGrowth         4.137575
grossMargins          7.674893
ebitdaMargins        12.278536
operatingMargins      2.464534
Length: 61, dtype: float64

In [39]:
column_median = data[columns_to_drop].median()
data[columns_to_drop] = data[columns_to_drop].fillna(column_median)

KeyError: "None of [Index([   0.1370580595162066,  0.001076372195153455,   0.12593554683295421,\n          3.7210186786454935,   0.03874939902552437,  0.008969768292945457,\n       0.0068170239026385466, 0.0068170239026385466,   0.03874939902552437,\n        0.008969768292945457, 0.0068170239026385466, 0.0068170239026385466,\n          2.1721190898196716,    0.7007182990448991,  0.008969768292945457,\n          0.5335218180643957,    0.5464382844062372, 0.0068170239026385466,\n          2.3791413420208527,    0.5550492619674648,     5.415587304548749,\n          0.2985138887892248,   0.01435162926871273,    1.8129695673701356,\n         0.00215274439030691, 0.0057406517074850925,     5.404464791865497,\n         0.02296260682994037,     7.456388986559699,   0.02296260682994037,\n         0.02296260682994037,   0.02296260682994037,   0.02296260682994037,\n         0.07391089073387057,      0.83705877709767,    12.690786971590951,\n           2.961458699598872,     7.841012650961201,    2.7519249122756664,\n          2.7921094742280617,    2.7519249122756664,    2.7519249122756664,\n          1.2381868151581907,    2.7519249122756664,    0.5550492619674648,\n          0.5607899136749499,     7.374225908996319,    1.5151732600443466,\n           5.368585718693715,      5.35782199674218,     2.445876418120367,\n          12.231176044260424,    2.4731445137309214,    1.9647380468867728,\n            8.65187970464347,    10.551676629089316,     7.373508327532884,\n            4.13757471816988,      7.67489254217585,    12.278536420847177,\n           2.464533536169694],\n      dtype='float64')] are in the [columns]"

In [13]:
data.drop('address1', axis = 1, inplace= True)
data.drop('city', axis = 1, inplace= True)
data.drop('industry', axis = 1, inplace= True)

In [14]:
data

,date,lastTradeDate,strike,price,bid,ask,change,percentChange,volume,openInterest,...,returnOnAssets,returnOnEquity,freeCashflow,operatingCashflow,revenueGrowth,grossMargins,ebitdaMargins,operatingMargins,tau,tau2
0,2024-07-25,2024-07-23,70.0,0.18,137.05,137.12,0.0,0.0,1717668.0,2.0,...,0.07818,0.20709,924249984.0,1.896000e+09,-0.084,0.50630,0.24458,0.23713,0.071429,0.065753
1,2024-07-26,2024-07-23,70.0,0.18,137.05,137.12,0.0,0.0,1717668.0,2.0,...,0.07818,0.20709,924249984.0,1.896000e+09,-0.084,0.50630,0.24458,0.23713,0.071429,0.065753
2,2024-07-23,2024-05-02,85.0,0.10,137.05,137.12,0.0,0.0,1717668.0,16.0,...,0.07818,0.20709,924249984.0,1.896000e+09,-0.084,0.50630,0.24458,0.23713,0.301587,0.290411
3,2024-07-24,2024-05-02,85.0,0.10,137.05,137.12,0.0,0.0,1717668.0,16.0,...,0.07818,0.20709,924249984.0,1.896000e+09,-0.084,0.50630,0.24458,0.23713,0.301587,0.290411
4,2024-07-25,2024-05-02,85.0,0.10,137.05,137.12,0.0,0.0,1717668.0,16.0,...,0.07818,0.20709,924249984.0,1.896000e+09,-0.084,0.50630,0.24458,0.23713,0.301587,0.290411
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
278725,2024-07-26,2024-05-15,17.5,0.35,8.90,8.96,0.0,0.0,1034596.0,109.0,...,0.04797,0.12696,19597876.0,1.828300e+07,0.110,0.79998,0.07865,0.04462,0.265873,0.254795
278726,2024-07-23,2024-03-06,20.0,0.50,8.90,8.96,0.0,0.0,1034596.0,2.0,...,0.04797,0.12696,19597876.0,1.828300e+07,0.110,0.79998,0.07865,0.04462,0.464286,0.446575
278727,2024-07-24,2024-03-06,20.0,0.50,8.90,8.96,0.0,0.0,1034596.0,2.0,...,0.04797,0.12696,19597876.0,1.828300e+07,0.110,0.79998,0.07865,0.04462,0.464286,0.446575
278728,2024-07-25,2024-03-06,20.0,0.50,8.90,8.96,0.0,0.0,1034596.0,2.0,...,0.04797,0.12696,19597876.0,1.828300e+07,0.110,0.79998,0.07865,0.04462,0.464286,0.446575
278729,2024-07-26,2024-03-06,20.0,0.50,8.90,8.96,0.0,0.0,1034596.0,2.0,...,0.04797,0.12696,19597876.0,1.828300e+07,0.110,0.79998,0.07865,0.04462,0.464286,0.446575

In [16]:
to_encode = [
    'date',
    'ticker',
    'state',
    'country',
    'recommendationKey'
]


data_encoded = pd.get_dummies(data,columns= to_encode)
data = data_encoded

In [17]:
data

,lastTradeDate,strike,price,bid,ask,change,percentChange,volume,openInterest,sigma,...,country_United Kingdom,country_United States,country_Uruguay,country_Vietnam,recommendationKey_buy,recommendationKey_hold,recommendationKey_none,recommendationKey_sell,recommendationKey_strong_buy,recommendationKey_underperform
0,2024-07-23,70.0,0.18,137.05,137.12,0.0,0.0,1717668.0,2.0,0.263417,...,False,True,False,False,True,False,False,False,False,False
1,2024-07-23,70.0,0.18,137.05,137.12,0.0,0.0,1717668.0,2.0,0.263417,...,False,True,False,False,True,False,False,False,False,False
2,2024-05-02,85.0,0.10,137.05,137.12,0.0,0.0,1717668.0,16.0,0.263417,...,False,True,False,False,True,False,False,False,False,False
3,2024-05-02,85.0,0.10,137.05,137.12,0.0,0.0,1717668.0,16.0,0.263417,...,False,True,False,False,True,False,False,False,False,False
4,2024-05-02,85.0,0.10,137.05,137.12,0.0,0.0,1717668.0,16.0,0.263417,...,False,True,False,False,True,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
278725,2024-05-15,17.5,0.35,8.90,8.96,0.0,0.0,1034596.0,109.0,0.599988,...,False,True,False,False,True,False,False,False,False,False
278726,2024-03-06,20.0,0.50,8.90,8.96,0.0,0.0,1034596.0,2.0,0.599988,...,False,True,False,False,True,False,False,False,False,False
278727,2024-03-06,20.0,0.50,8.90,8.96,0.0,0.0,1034596.0,2.0,0.599988,...,False,True,False,False,True,False,False,False,False,False
278728,2024-03-06,20.0,0.50,8.90,8.96,0.0,0.0,1034596.0,2.0,0.599988,...,False,True,False,False,True,False,False,False,False,False
278729,2024-03-06,20.0,0.50,8.90,8.96,0.0,0.0,1034596.0,2.0,0.599988,...,False,True,False,False,True,False,False,False,False,False

In [18]:
data.drop('lastTradeDate', axis = 1, inplace= True)

In [19]:
ann3_data = data

ann3_call_data = ann3_data[ann3_data.call == 1]
ann3_put_data = ann3_data[ann3_data.call == 0]

ann3_call_data.drop('call', axis = 1, inplace = True)
ann3_put_data.drop('call', axis = 1, inplace = True)

C:\Users\domen\AppData\Local\Temp\ipykernel_18064\43202908.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ann3_call_data.drop('call', axis = 1, inplace = True)
C:\Users\domen\AppData\Local\Temp\ipykernel_18064\43202908.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ann3_put_data.drop('call', axis = 1, inplace = True)

In [20]:
ann3_call_data

,strike,price,bid,ask,change,percentChange,volume,openInterest,sigma,inTheMoney,...,country_United Kingdom,country_United States,country_Uruguay,country_Vietnam,recommendationKey_buy,recommendationKey_hold,recommendationKey_none,recommendationKey_sell,recommendationKey_strong_buy,recommendationKey_underperform
70,95.0,41.25,137.05,137.12,0.0,0.0,1717668.0,1.0,0.263417,1.0,...,False,True,False,False,True,False,False,False,False,False
71,95.0,41.25,137.05,137.12,0.0,0.0,1717668.0,1.0,0.263417,1.0,...,False,True,False,False,True,False,False,False,False,False
72,95.0,41.25,137.05,137.12,0.0,0.0,1717668.0,1.0,0.263417,1.0,...,False,True,False,False,True,False,False,False,False,False
73,95.0,41.25,137.05,137.12,0.0,0.0,1717668.0,1.0,0.263417,True,...,False,True,False,False,True,False,False,False,False,False
74,110.0,31.57,137.05,137.12,0.0,0.0,1717668.0,0.0,0.263417,1.0,...,False,True,False,False,True,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
278725,17.5,0.35,8.90,8.96,0.0,0.0,1034596.0,109.0,0.599988,False,...,False,True,False,False,True,False,False,False,False,False
278726,20.0,0.50,8.90,8.96,0.0,0.0,1034596.0,2.0,0.599988,False,...,False,True,False,False,True,False,False,False,False,False
278727,20.0,0.50,8.90,8.96,0.0,0.0,1034596.0,2.0,0.599988,False,...,False,True,False,False,True,False,False,False,False,False
278728,20.0,0.50,8.90,8.96,0.0,0.0,1034596.0,2.0,0.599988,False,...,False,True,False,False,True,False,False,False,False,False
278729,20.0,0.50,8.90,8.96,0.0,0.0,1034596.0,2.0,0.599988,False,...,False,True,False,False,True,False,False,False,False,False

In [21]:
import numpy as np
import pandas as pd
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from sklearn.model_selection import train_test_split

import keras

# Separate features and target
y = ann3_call_data['price']
X = ann3_call_data.drop('price', axis=1)

X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.20, random_state = 0)

In [23]:
import numpy as np
import pandas as pd
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM, Dense
from sklearn.model_selection import train_test_split

# Separate features and target
y = ann3_call_data['price']
X = ann3_call_data.drop('price', axis=1)

# Reshape the data to 3D format (samples, timesteps, features)
# Assume each feature is treated as a separate timestep for simplicity.
X_reshaped = X.values.reshape((X.shape[0], 1, X.shape[1]))

X_train, X_test, y_train, y_test = train_test_split(X_reshaped, y, test_size=0.20, random_state=0)

# Build RNN model
RNN_model = Sequential()
RNN_model.add(LSTM(400, input_shape=(1, X.shape[1]), activation='relu', return_sequences=True))
RNN_model.add(LSTM(400, activation='relu', return_sequences=True))
RNN_model.add(LSTM(400, activation='relu'))
RNN_model.add(Dense(1))

RNN_model.compile(loss='mean_squared_error', optimizer='Adam')

# Train the RNN model
RNN_model.fit(X_train, y_train, epochs=150, batch_size=16)

ValueError: Failed to convert a NumPy array to a Tensor (Unsupported object type float).